---
import type { CertificationType } from "./types";
import Certificate from "@components/Certification/Certificate.astro";
import Issuer from "@components/Certification/Issuer.astro";
import Scroller from "@components/carousel/Scroller.astro";
import ScrollerItem from "@components/carousel/ScrollerItem.astro";

interface Props extends CertificationType {}

const { name, image, certificates } = Astro.props;
---

<section class="certification">
	<header class="certification__header">
		<Issuer name={name} image={image} />
	</header>

	<Scroller i11nAttrs={{ "aria-label": `${name}'s Certifications` }}>
		{
			certificates.map(({ name, image, href }) => (
				<ScrollerItem>
					<Certificate name={name} href={href} image={image} />
				</ScrollerItem>
			))
		}
	</Scroller>
</section>

<style>
	.certification__header {
		margin-block-end: var(--space-stack-8x);
	}
</style>
